<!-- BEGIN footer -->
<div id="footer">
	<div class="buffer">
		<p class="l">
			Copyright &copy; 2009 - 
			<a href="http://www.88web.org/" title="免费网站模板">Website Name</a> 
			&middot; All Rights Reserved
		</p>
		<p class="r">
			Template by: 
			<a href="http://www.wpthemedesigner.com/">WordPress Designer</a>
			| Get More <a href="http://www.88web.org/" title="免费网站模板">巴巴唔模板网</a>
		</p>
	</div>
</div>
<!-- END footer -->