<!-- BEGIN header -->
<div id="header">
	<!-- begin pages -->
	<ul class="pages">
		<li><a href="http://www.88web.org/" title="免费网站模板">Home</a></li>
		<li><a href="about.html">About Us</a></li>
		<li><a href="page.html">Demo Page</a></li>
		<li><a href="contact.html">Contact Page</a></li>
	</ul>
	<!-- end pages -->

	<!-- begin rss feed -->
    <a href="javascript:void(0)" title="注册" class="menu" onclick='register()'>
        注册
    </a>
    <a href="javascript:void(0)" title="登录" class="menu" onclick='login()'>
        登录
    </a>
	<!-- end rss feed -->

	<!-- begin logo -->
	<h1><a href="http://www.88web.org/" title="免费网站模板">SchemerMag</a></h1>
	<!-- end logo -->

	<!-- begin advertisement -->
	<div class="ad">
		<a href="http://www.88web.org/" title="免费网站模板">
			<img src="{{ asset('bundles/acmemain/images/ad468x60.gif') }}" alt="" />
		</a>
	</div>
	<!-- end advertisement -->

	<!-- begin categories -->
	<ul class="categories">
		<li><a href="http://www.88web.org/" title="免费网站模板">Advertising</a></li>
		<li><a href="http://www.88web.org/" title="免费网站模板">Development</a></li>
		<li><a href="http://www.88web.org/" title="免费网站模板">Entertainment</a></li>
		<li><a href="http://www.88web.org/" title="免费网站模板">Fashion</a></li>
		<li><a href="http://www.88web.org/" title="免费网站模板">Videos</a></li>
	</ul>
	<!-- end categories -->
</div>
<!-- END header -->