<!-- BEGIN left sidebar -->
<div id="lsidebar">

	<!-- begin pages -->
		<div class="box">
			<h2>Pages</h2>
			<ul>
				<li><a href="http://www.88web.org/" title="免费网站模板">About</a></li>
				<li><a href="http://www.88web.org/" title="免费网站模板">Portfolio</a></li>
				<li><a href="http://www.88web.org/" title="免费网站模板">Gallery</a></li>
				<li><a href="http://www.88web.org/" title="免费网站模板">Videos</a></li>
				<li><a href="http://www.88web.org/" title="免费网站模板">Contact</a></li>
			</ul>
		</div>
	<!-- end pages -->

	<!-- begin categories -->
	<div class="box">
		<h2>Categories</h2>
		<ul>
			<li><a href="http://www.88web.org/" title="免费网站模板">Advertising</a></li>
			<li><a href="http://www.88web.org/" title="免费网站模板">Development</a></li>
			<li><a href="http://www.88web.org/" title="免费网站模板">Entertainment</a></li>
			<li><a href="http://www.88web.org/" title="免费网站模板">Fashion</a></li>
			<li><a href="http://www.88web.org/" title="免费网站模板">Videos</a></li>
		</ul>
	</div>
	<!-- end categories -->

	<!-- begin blogroll -->
	<div class="box">
		<h2>Blogroll</h2>
		<ul>
			<li><a href="http://www.88web.org/" title="免费网站模板">Ben Stiller</a></li>
			<li><a href="http://www.88web.org/" title="免费网站模板">Carl Santos</a></li>
			<li><a href="http://www.88web.org/" title="免费网站模板">David King</a></li>
			<li><a href="http://www.88web.org/" title="免费网站模板">Fergie</a></li>
			<li><a href="http://www.88web.org/" title="免费网站模板">Ian Stewart</a></li>
			<li><a href="http://www.88web.org/" title="免费网站模板">Jim Kennedy</a></li>
		</ul>
	</div>
	<!-- end blogroll -->

	<!-- begin archives -->
	<div class="box">
		<h2>Archives</h2>
		<ul>
			<li><a href="http://www.88web.org/" title="免费网站模板">March 2009</a></li>
			<li><a href="http://www.88web.org/" title="免费网站模板">February 2009</a></li>
			<li><a href="http://www.88web.org/" title="免费网站模板">January 2009</a></li>
			<li><a href="http://www.88web.org/" title="免费网站模板">December 2008</a></li>
			<li><a href="http://www.88web.org/" title="免费网站模板">November 2008</a></li>
			<li><a href="http://www.88web.org/" title="免费网站模板">October 2008</a></li>
			<li><a href="http://www.88web.org/" title="免费网站模板">September 2008</a></li>
			<li><a href="http://www.88web.org/" title="免费网站模板">August 2008</a></li>
			<li><a href="http://www.88web.org/" title="免费网站模板">July 2008</a></li>
			<li><a href="http://www.88web.org/" title="免费网站模板">June 2008</a></li>
			<li><a href="http://www.88web.org/" title="免费网站模板">May 2008</a></li>
		</ul>
	</div>
	<!-- end archives -->

	<!-- begin meta -->
	<div class="box">
		<h2>Meta</h2>
		<ul>
			<li><a href="http://www.88web.org/" title="免费网站模板">Log in</a></li>
			<li><a href="http://www.88web.org/" title="免费网站模板">Valid XHTML</a></li>
		</ul>
	</div>
	<!-- end meta -->

</div>
<!-- END left sidebar -->